p{
    color:red;
}
.focus{
    font-size:10px;
}

.scrollable{
    overflow: auto;
    width: 70px; /* adjust this width depending to amount of text to display */
    height: 80px; /* adjust height depending on number of options to display */
    border: 1px silver solid;
  }
  .scrollable select{
    border: none;
  }